.c-list {
    padding: 0;
    margin: 0;

    &__item {
      position: relative;
      height: 33.33vh;
    }

    &__title {
      text-shadow: 4px 4px 10px rgba(150, 150, 150, 1);
      font-size: 40px;
      text-align: center;
      color: #f3f3f3;
      position: absolute;
      top: 50%;
      width: 100%;
      margin-top: -30px;
      z-index: 2;
    }

    &__block {
      display: block;
      vertical-align: middle;
    }

    &__image {
      transition: opacity .25s ease-in-out;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 1;
      height: 100%;
      width: 100%;

      &:hover {
          opacity: 0.8;
      }
    }
}
